page-busca {
    #map {
    
        height: 100%; 
        width: 100%; 
        position:absolute; 
        top: 0; 
        left: 0; 
        z-index: 0; 
      
    }
    .inputBusca {
        margin-top: 50px;
        z-index: 100;
        position: relative;
        position: relative; 
        background: none;
        opacity: .90; /* Set the opacity for a slightly transparent Google Form */ 
        color: white;
    }
}
